.cycle-slideshow.vertical {
	min-height: 450px;
}
.vertical.item {
	background-color: #d8793f;
	border: solid 1px #292929;
	height: 84px;
	margin: 5px 0;
}
.vertical.item .item-holder {
	width: 100%;
}
.vertical.item .img-holder {
	display: inline-block;
	width: 35%;
}
.vertical.item .detail-holder {
    background-color: #292929;
    border: solid 1px #d8793f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    margin-top: 50%;
    padding: 5px 15px;
    line-height: 1;
    left: -10px;
    position: relative;
    overflow: visible;
    vertical-align: top;
    width: 60%;
    z-index: 9999;
}
.vertical.item img {
	width: 100%;
}
.navigation_holder a, .navigation_holder div[class*='item_pager'] {
	display: inline-block;
}
.vertical.item .detail-holder p {
	margin: 0;
}
.vertical.item .detail-holder p.item-title {
	color: #fff;
	font-weight: 600;
}
.vertical.item .detail-holder p.item-price {
	margin-top: 5px;
}
#vertical.navigation_holder {
    position: relative;
    top: 70px;
    right: 0;
    float: right;
    width: auto;
    text-align: right;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}
#vertical .navigation-holder {
    background-color: transparent;
    margin-top: 0;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}